body {
    font-family: 'Georgia', serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle, #1c2833, #000000);
    color: #e0e0e0;
    overflow: hidden;
}

.container {
    text-align: center;
    position: relative;
}


h2,h1 {
    font-size: 3.5em;
    margin-bottom: 30px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
    letter-spacing: 2px;
    font-weight: bold;
}

.get-started-button {
    padding: 22px 45px;
    font-size: 1.6em;
    background: linear-gradient(to right, #4a00e0, #8e2de2);
    color: white;
    border: 2px solid #9370DB;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    font-family: 'Times New Roman', serif;
}

.get-started-button:hover {
    transform: translateY(-7px);
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.6);
}

#task-manager-app {
    display: none;
    margin-top: 50px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    opacity: 0.8;
}